<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="bi bi-calculator-fill" aria-hidden="true"></span> PAccountant
        </a>
    </div>
</div>

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
        Home
    </MudNavLink>
    <MudNavLink Href="accounts" Icon="@Icons.Material.Filled.CreditCard">
        Accounts
    </MudNavLink>
    <MudNavLink Href="counter" Icon="@Icons.Material.Filled.Add">
        Counter
    </MudNavLink>
    <MudNavLink Href="weather" Icon="@Icons.Material.Filled.Cloud">
        Weather
    </MudNavLink>
</MudNavMenu>

